In [99]:
import pandas as pd
import numpy as np
import seaborn as sns # 시각화를 위한 라이브러리
import matplotlib.pyplot as plt
import calendar
from datetime import datetime

#Part 1. 파이썬 기본
사용 데이터셋 :  https://www.kaggle.com/c/bike-sharing-demand/data

In [107]:
#colab에 실습(train.csv) 파일 업로드
train=pd.read_csv("train.csv")
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 0:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 1:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 2:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 3:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 4:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

### [1-1] 
datetime 열을 년-월-일, 시간 이렇게 분리해서 새로운 tempDate 라는 이름의 열을 만들어주세요.
* ex) 2011-01-01 00:00:00  ->  2011-01-01 , 00:00:00

In [108]:
#datetime 열을, 년-월-일, 시간 분리

train['tempDate']=train['datetime'].str.split(' ')
train['tempDate']

0         [2011-01-01, 0:00]
1         [2011-01-01, 1:00]
2         [2011-01-01, 2:00]
3         [2011-01-01, 3:00]
4         [2011-01-01, 4:00]
                ...
10881    [2012-12-19, 19:00]
10882    [2012-12-19, 20:00]
10883    [2012-12-19, 21:00]
10884    [2012-12-19, 22:00]
10885    [2012-12-19, 23:00]
Name: tempDate, Length: 10886, dtype: object

### [1-2] 
1-1에서 분리한 tempDate열을 가지고, train 데이터에 year, month, day, weekday 열을 추가해주세요.

In [109]:
#분리한 tempDate를 가지고 year, month, day, weekday column 추가
train['년월일']= train['tempDate'].str[0]
train['년월일'] = pd.to_datetime(train['년월일'])

train['year']= train['년월일'].dt.year
train['month']= train['년월일'].dt.month
train['day']= train['년월일'].dt.day
train['weekday']= train['년월일'].dt.day_name()
train['hour']= train['tempDate'].str[1]

train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,tempDate,년월일,year,month,day,weekday,hour
0,2011-01-01 0:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,"[2011-01-01, 0:00]",2011-01-01,2011,1,1,Saturday,0:00
1,2011-01-01 1:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,"[2011-01-01, 1:00]",2011-01-01,2011,1,1,Saturday,1:00
2,2011-01-01 2:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,"[2011-01-01, 2:00]",2011-01-01,2011,1,1,Saturday,2:00
3,2011-01-01 3:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,"[2011-01-01, 3:00]",2011-01-01,2011,1,1,Saturday,3:00
4,2011-01-01 4:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,"[2011-01-01, 4:00]",2011-01-01,2011,1,1,Saturday,4:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,"[2012-12-19, 19:00]",2012-12-19,2012,12,19,Wednesday,19:00
10882,2012-12-19 20:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,"[2012-12-19, 20:00]",2012-12-19,2012,12,19,Wednesday,20:00
10883,2012-12-19 21:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,"[2012-12-19, 21:00]",2012-12-19,2012,12,19,Wednesday,21:00
10884,2012-12-19 22:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,"[2012-12-19, 22:00]",2012-12-19,2012,12,19,Wednesday,22:00
10885,2012-12-19 23:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,"[2012-12-19, 23:00]",2012-12-19,2012,12,19,Wednesday,23:00

### [1-3] 
1-2에서 만든 year, month, day, hour의 문자형 데이터를 숫자형 데이터로 변환해주세요.

In [110]:
#분리한 형태의 문자형 데이터를 숫자형 데이터로 변환
print(train.dtypes)

datetime              object
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
tempDate              object
년월일           datetime64[ns]
year                   int64
month                  int64
day                    int64
weekday               object
hour                  object
dtype: object

### [1-4] 
이제, 필요없는 tempDate 열을 삭제해 주시고, train.csv을 위에서부터 5행 출력해주세요.

In [111]:
#필요없는 tempDate열 삭제 후, train을 위에서부터 5행 출력
train = train.drop('tempDate', axis=1)
train = train.drop('년월일', axis=1)

train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,weekday,hour
0,2011-01-01 0:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,Saturday,0:00
1,2011-01-01 1:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,Saturday,1:00
2,2011-01-01 2:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,Saturday,2:00
3,2011-01-01 3:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,Saturday,3:00
4,2011-01-01 4:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,Saturday,4:00

### [1-5] 
월별로 count를 내림차순 정렬해 주세요.

In [120]:
#월별로 count 내림차순 정렬
train.groupby('month')['count'].sum().sort_values(ascending = False)

month
6     220733
7     214617
8     213516
9     212529
10    207434
5     200147
11    176440
4     167402
12    160160
3     133501
2      99113
1      79884
Name: count, dtype: int64

### [1-6] 
1-5를 통해, 6월에 count가 가장 많은 것을 확인할 수 있었습니다! 6월 데이터만 추출하여, June 변수에 저장해주세요.

In [122]:
# 6월 데이터만 추출하여 June 변수에 저장
June= train[train['month']==6]
June

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,weekday,hour
2234,2011-06-01 0:00,2,0,1,1,28.70,33.335,79,11.0014,9,25,34,2011,6,1,Wednesday,0:00
2235,2011-06-01 1:00,2,0,1,1,28.70,33.335,84,16.9979,8,9,17,2011,6,1,Wednesday,1:00
2236,2011-06-01 2:00,2,0,1,1,28.70,33.335,79,11.0014,0,3,3,2011,6,1,Wednesday,2:00
2237,2011-06-01 3:00,2,0,1,1,27.88,31.820,89,12.9980,0,6,6,2011,6,1,Wednesday,3:00
2238,2011-06-01 4:00,2,0,1,2,27.88,31.820,89,15.0013,0,4,4,2011,6,1,Wednesday,4:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8146,2012-06-19 19:00,2,0,1,1,32.80,38.635,59,15.0013,82,432,514,2012,6,19,Tuesday,19:00
8147,2012-06-19 20:00,2,0,1,1,32.80,37.880,55,16.9979,59,399,458,2012,6,19,Tuesday,20:00
8148,2012-06-19 21:00,2,0,1,1,31.16,35.605,62,11.0014,37,239,276,2012,6,19,Tuesday,21:00
8149,2012-06-19 22:00,2,0,1,1,29.52,34.850,79,6.0032,51,240,291,2012,6,19,Tuesday,22:00
8150,2012-06-19 23:00,2,0,1,1,29.52,34.850,79,8.9981,23,102,125,2012,6,19,Tuesday,23:00

### [1-7]
6월달 중 가장 count가 많은 날짜(day)를 내림차순으로 정렬해주세요.

In [123]:
# 6월달 중 가장 count가 많은 날짜 파악
June.groupby('day')['count'].sum().sort_values(ascending = False)

day
2     13088
3     12953
15    12845
13    12441
4     12340
7     12327
14    12254
8     12137
5     11907
17    11822
11    11630
6     11603
19    11569
16    11469
9     11413
10    11184
18    10218
12     9432
1      8101
Name: count, dtype: int64

# Part 2 데이터 전처리

한국환경공단에서 발표한 미세먼지 관련 자료를 분석하려고 데이터를 사용하려고 합니다. <p>
'SeoulHourlyAvgAirPollution.csv' 을 불러와 pollution 으로 저장해주세요.

In [180]:
#colab에 SeoulHourlyAvgAirPollution.csv 파일 업로드
pollution =pd.read_csv("SeoulHourlyAvgAirPollution.csv")
pollution

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥)
0,201711242300,강남구,0.038,0.004,0.4,0.005,16.0,10.0
1,201711242200,강남구,0.031,0.008,0.4,0.005,17.0,9.0
2,201711242100,강남구,0.025,0.012,0.4,0.005,18.0,11.0
3,201711242000,강남구,0.033,0.007,0.4,0.005,21.0,12.0
4,201711241900,강남구,0.033,0.008,0.4,0.005,20.0,10.0
...,...,...,...,...,...,...,...,...
4220,201711180300,중랑구,0.013,0.023,0.6,0.006,46.0,38.0
4221,201711180200,중랑구,0.014,0.022,0.5,0.006,34.0,25.0
4222,201711180100,중랑구,0.019,0.018,0.6,0.006,36.0,22.0
4223,201711180000,중랑구,0.017,0.019,0.5,0.006,35.0,28.0
4224,201711172300,중랑구,0.038,0.006,0.6,0.008,50.0,34.0

### [2-1] Label Encoding
'측정소명' 변수를 레이블 인코딩하고, 레이블 인코딩한 값을 기존 데이터 프레임에 '측정소명_인코딩'라는 열로 추가해보세요.

In [181]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoder.fit(pollution['측정소명'])
labels = encoder.transform(pollution['측정소명'])

for i, j in enumerate(encoder.classes_):
    print(j, '>', i)
    
pollution['측정소명_인코딩'] = labels
pollution.head()

강남구 > 0
강동구 > 1
강북구 > 2
강서구 > 3
관악구 > 4
광진구 > 5
구로구 > 6
금천구 > 7
노원구 > 8
도봉구 > 9
동대문구 > 10
동작구 > 11
마포구 > 12
서대문구 > 13
서초구 > 14
성동구 > 15
성북구 > 16
송파구 > 17
양천구 > 18
영등포구 > 19
용산구 > 20
은평구 > 21
종로구 > 22
중구 > 23
중랑구 > 24

,측정일시,측정소명,이산화질소농도(ppm),오존농도(ppm),일산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥),측정소명_인코딩
0,201711242300,강남구,0.038,0.004,0.4,0.005,16.0,10.0,0
1,201711242200,강남구,0.031,0.008,0.4,0.005,17.0,9.0,0
2,201711242100,강남구,0.025,0.012,0.4,0.005,18.0,11.0,0
3,201711242000,강남구,0.033,0.007,0.4,0.005,21.0,12.0,0
4,201711241900,강남구,0.033,0.008,0.4,0.005,20.0,10.0,0

### [2-2] 결측치, 중복값 처리
한국환경공단에서 발표한 미세먼지 관련 자료를 분석하려고 데이터를 사용하려고 합니다.우선, 칼럼별 결측치의 개수를 구해주세요.

In [182]:
# 칼럼별 결측치 개수 확인
pollution.isnull().sum()

측정일시             0
측정소명             0
이산화질소농도(ppm)    38
오존농도(ppm)       42
일산화탄소농도(ppm)    42
아황산가스(ppm)      38
미세먼지(㎍/㎥)       59
초미세먼지(㎍/㎥)      64
측정소명_인코딩         0
dtype: int64

#### a. 결측치 처리하기
결측치를 대체하거나, 제외하려고 합니다. 아래의 조건에 맞게 데이터를 수정해주세요. (inplace=True)

1) '이산화질소농도'는 결측치를 제거 <p>
2) '오존농도'는 데이터에서 제외 <p>
3) '일산화탄소농도'는 바로 위 행의 데이터로 대체 <p>
4) '아황산가스' 는 결측치 값을 0으로 대체 (조건: replace() 메소드 사용) <p>
5) '미세먼지'의 결측치는 열의 평균값으로 대체 <p>
6) '초미세먼지'의 결측치는 최빈값으로 대체

In [183]:
pollution.dropna(subset=['이산화질소농도(ppm)'], inplace=True)
pollution.drop('오존농도(ppm)', axis=1, inplace=True)
pollution['일산화탄소농도(ppm)'].fillna(method='ffill', inplace=True)
pollution['아황산가스(ppm)'].replace(to_replace=np.nan, value=0, inplace=True)
pollution['미세먼지(㎍/㎥)'].fillna(pollution['미세먼지(㎍/㎥)'].mean(), inplace=True)

In [184]:
pollution['초미세먼지(㎍/㎥)'].value_counts()

10.0    273
11.0    264
12.0    244
9.0     231
13.0    207
       ...
83.0      1
73.0      1
74.0      1
70.0      1
85.0      1
Name: 초미세먼지(㎍/㎥), Length: 77, dtype: int64

In [185]:
pollution['초미세먼지(㎍/㎥)'].fillna(10.0, inplace=True)
pollution

,측정일시,측정소명,이산화질소농도(ppm),일산화탄소농도(ppm),아황산가스(ppm),미세먼지(㎍/㎥),초미세먼지(㎍/㎥),측정소명_인코딩
0,201711242300,강남구,0.038,0.4,0.005,16.0,10.0,0
1,201711242200,강남구,0.031,0.4,0.005,17.0,9.0,0
2,201711242100,강남구,0.025,0.4,0.005,18.0,11.0,0
3,201711242000,강남구,0.033,0.4,0.005,21.0,12.0,0
4,201711241900,강남구,0.033,0.4,0.005,20.0,10.0,0
...,...,...,...,...,...,...,...,...
4220,201711180300,중랑구,0.013,0.6,0.006,46.0,38.0,24
4221,201711180200,중랑구,0.014,0.5,0.006,34.0,25.0,24
4222,201711180100,중랑구,0.019,0.6,0.006,36.0,22.0,24
4223,201711180000,중랑구,0.017,0.5,0.006,35.0,28.0,24
4224,201711172300,중랑구,0.038,0.6,0.008,50.0,34.0,24

#### b. 중복값 처리하기
DUPLICATED.csv 를 불러와, duplicates 에 저장해주세요.

duplicates를 분석해보니, 같은 사람에 대해서 중복된 데이터가 존재합니다. <p>
'NAME' 과 'ID' 가 모두 중복이면, 처음 나온 데이터가 올바른 값입니다. <p>
'NAME' 은 중복이지만, 'ID'가 중복이지 않으면, 잘못된 데이터입니다. <p>
잘못된 데이터는 삭제해주시고, 중복값을 적절하게 처리하여 데이터를 수정해주세요.

In [189]:
duplicates = pd.read_csv('DUPLICATED.csv')
duplicates

   OBS NAME      ID        DATE  BTW    FFM
0    1    A  A10153  2018-11-30    1  7,000
1    2    A  A10153  2018-11-30    3  6,353
2    3    B  B15432  2018-11-30    4  9,123
3    4    A  A15853  2018-11-29    5  5,423
4    5    C  C54652  2018-11-28    5  8,235
5    6    C  C54652  2018-11-27    6  7,345
6    7    D  D14568  2018-11-28    7  5,234
7    8    D  D17865  2018-11-27    3  9,453
8    9    E  E13254  2018-11-26    2  8,453
9   10    E  E13254  2018-11-25    3  5,535

In [191]:
# NAME과 ID가 모두 같으면 처음 나온 데이터로
duplicates.drop_duplicates(['NAME', 'ID'], inplace=True)
duplicates

   OBS NAME      ID        DATE  BTW    FFM
0    1    A  A10153  2018-11-30    1  7,000
2    3    B  B15432  2018-11-30    4  9,123
3    4    A  A15853  2018-11-29    5  5,423
4    5    C  C54652  2018-11-28    5  8,235
6    7    D  D14568  2018-11-28    7  5,234
7    8    D  D17865  2018-11-27    3  9,453
8    9    E  E13254  2018-11-26    2  8,453

In [192]:
# NAME은 같지만 ID가 다르면, 잘못된 데이터 -> 삭제
duplicates.drop_duplicates(['NAME'], inplace=True)
duplicates

   OBS NAME      ID        DATE  BTW    FFM
0    1    A  A10153  2018-11-30    1  7,000
2    3    B  B15432  2018-11-30    4  9,123
4    5    C  C54652  2018-11-28    5  8,235
6    7    D  D14568  2018-11-28    7  5,234
8    9    E  E13254  2018-11-26    2  8,453

###[2-3] 불균형 데이터 처리
## <서술형 문항>
Pollution 데이터을 분류 하려고 하는데, 불균형 데이터 처리 단계를 거쳐야 합니다.
불균형 데이터가 무엇인지 설명하고, Undersampling 과 Oversampling 이 무엇인지 간단하게 설명해주세요. (간단히만 적어주시면 됩니다!)

데이터를 조정해서 데이터 불균형을 해결하는 Sampling 기법은 크게 두가지로 나뉜다.
Undersampling : 다수 범주의 관측치를 소수 범주의 관측치만큼 줄이는 방식
Oversampling : 소수 범주의 관측치를 다수 범주의 관측치만큼 증폭시키는 방식

#### under sampling
'train' 데이터프레임을 사용하여, x는 'count', 'registered', y는 'workingday'로 x 와 y 값을 설정하세요. 위 x,y 에 대하여 under sampliing 기법 중 하나를 선택하여 불균형 데이터 처리를 진행하고 어떻게 데이터가 변화하였는데 살펴보세요. 
(hint: shape, value_counts 등을 통해 샘플링 전후 데이터 개수의 변화를 알 수 있습니다.)<p>

In [193]:
from imblearn.under_sampling import *

ModuleNotFoundError: No module named 'imblearn'

In [194]:
x = train[['count', 'registered']]
y = train[['workingday']]
print((y==1).sum())
print((y==0).sum())
print(x.shape)
print(y.shape)

workingday    7412
dtype: int64
workingday    3474
dtype: int64
(10886, 2)
(10886, 1)

In [205]:
x_resampled, y_resampled = RandomUnderSampler(random_state =0).fit_resample(x,y)
x_resampled.shape
y_resampled.shape
print((y_resampled==1).sum())
print((y_resampled==0).sum())

NameError: name 'RandomUnderSampler' is not defined

###[2-4] Feature Scaling
날씨와 ('weather' 칼럼) 과 전체 대여된 자전거 수 ('count' 칼럼) 을 비교하기 위하여 Feature Scaling 하고자 합니다. <p>
두 변수 모두 정규화를 적용한 후, 'weather scaled' 및 'count scaled' 으로 저장하여, 각 변수 정규화 저용 전 후 평균과 분산을 비교해주세요.

In [199]:
from sklearn.preprocessing import StandardScaler
scaler2 = StandardScaler()

In [197]:
from sklearn.preprocessing import MinMaxScaler
scaler1 = MinMaxScaler()

In [ ]:
train_weather = train['weather'].values.reshape(-1, 1)
scaler2.fit(train_weather)
weather_scaled = scaler2.transform(train_weather)
train['weather scaled']= pd.Series(weather_scaled.reshape(-1))

In [203]:
train_count= train['count'].values.reshape(-1, 1)
scaler1.fit(train_count)
count_scaled= scaler1.transform(train_count)
train['count scaled']= pd.Series(count_scaled.reshape(-1))

In [204]:
print('Weather 의 정규화 적용 전 평균과 분산 비교')
print(train[['weather', 'weather scaled']].mean())
print(train[['weather', 'weather scaled']].var())

print('Count 의 정규화 적용 전 평균과 분산 비교')
print(train[['count', 'count scaled']].mean())
print(train[['count', 'count scaled']].var())

Weather 의 정규화 적용 전 평균과 분산 비교
weather           1.418427e+00
weather scaled    2.403899e-15
dtype: float64
weather           0.401751
weather scaled    1.000092
dtype: float64
Count 의 정규화 적용 전 평균과 분산 비교
count           191.574132
count scaled      0.195260
dtype: float64
count           32813.313153
count scaled        0.034447
dtype: float64

#수고하셨습니다! 제출 마감 날짜는 3월 2일 (수요일) 23시 59분입니다!
파일명 주의해주세요~!

제출 링크: https://forms.gle/vz1KxaMqamPLX4oZ8